.nav-tabs {
  border: 0px!important;
  border-color: #2A3B50!important;
}

.tabs {
  background-color: #2A3B50;
  color: white;
  border-color: #2A3B50!important;
  padding-top: 1.4rem!important;
  padding-bottom: 0rem!important;
  margin-bottom: 0rem!important;
}

.tab-pane {
  min-height: 90%;
}

ul.nav {
  padding-bottom: 0rem!important;
  margin-bottom: 0rem!important;
}

a {
  border-color: #2A3B50!important;
}

li > a.active {
  background-color: rgba(209, 213, 219) !important;
}

.right-side > li {
  margin-top: 6px;
  background-color: #CECEE2;
  border-radius: 10px;
  border: 1px;
  border-color: black;
  height: 120px;
}

.right-side > li:hover {
  background-color: #374897;
} 

.tab-bg-inner {
  height: 590px!important;
}

.comp-info {
  box-shadow: 3px 4px 4px #39495D;
}

.score-info {
  box-shadow: 3px 5px 2px rgba(59,184,0,0.7);
}

h1 {
  font-size: 30px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.small-info-title {
  text-align: start;
}

.small-info {
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: start;
}

.score-h1 {
  font-size: 30px;
}

.score-p {
  color: rgba(59,184,0,0.7);
  font-weight: 1000;
}

.icon {
  fill:'#3BB800';
}